*, 
::after, ::before {
    box-sizing: border-box;
}
*{
	border: 0;
  padding: 0;
  margin: 0;
}

html{
	font-size: 14px;	
	font-family: 'Montserrat', sans-serif;
}
a{
	color: black;
	transition: all .3s;
	&:hover{
		text-decoration: none !important;
		color: inherit;
	}
}
.img-responsive{
	width: 100%;
}
.navbar-fixed{
	background: white !important;
	padding: 5px 25px !important;
	a{
		color: black !important;
	}
}
.navbar{
	 background: transparent;
	 position: fixed;
	 width: 100%;
	 transition: all .3s;	
	 padding: 25px;
	.hide{
	 	display: none;
	}
	.navbar-collapse{
		a{
			@extend %font7;
			font-size: .9em;
			color: white;
			&.nav-link{
				padding: 15px;
			}
		}
		&.inside{
			a{
				color: rgba(0,0,0,.5);
				transition: all .3s;
				&.active{
					color: black;
				}
				&:hover{
					color: black;
				}
			}
		}
	}
	.dropdown-menu{				
		border: 0 solid;	
		padding: 10px;
		background: rgba(255,255,255,.4);	
		position: relative;	
		&:before{
			position: absolute;
	    top: -7px;
	    left: 30px;
	    content: '';
	    border-top: 0 solid transparent;
	    border-right: 9px solid transparent;
	    border-bottom: 7px solid rgba(255,255,255,.4);
	    border-left: 9px solid transparent;
		}
		&.bg{
			background: rgba(235,235,235,1);
		}
		a{
			@extend %font7;
			transition: all .3s;
			padding: 8px 4px;
			border-bottom: 1px solid darken(#99a9af, 10);
			&:last-child{
				border-bottom: 0px solid darken(#99a9af, 10);
			}
			&:hover{
				color: lighten(black, 60%) !important;
				background: initial;
			}
		}
	}
}

/* FOOTER */
footer{
	background: $black;
	color: white;
	min-height: 280px;
	@include media-breakpoint-down(xs){
		padding-bottom: 150px;
		text-align: center;
	}
	.footer{
		color: white;
		.social-icon{
			ul{
				list-style-type: none;
				display: inline-block;
				margin-top: 30px;
				margin-bottom: 0;
				li{
					float: left;
					margin-right: 15px;
				}
			}
			a{
				color: white;
				display: inline-block;
				width: 20px;
			}
			.copy{
				display: block;
				font-size: .9em;
			}
		}
		.links{
			a{
				@extend %font4;
				color: rgba(white, .6);
				display: block;
				transition: all .3s;
				&:first-child{
					@extend %font7;
					color: white;
					margin-bottom: 10px;
				}
				&:hover{
					text-decoration: none;
					color: white;
				}
			}
		}
	}
}
.sticky-footer{
	@extend %font7;
	background: #1a3f4a;
	color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 10;
	left: 0;
	margin: 0;
	padding: 12px 15px;
	@include media-breakpoint-down(md){	
		.col-xs-12{
			max-width: 100% !important; 
			margin: 5px;
		}
	}	
	.content{
		padding: 0 100px;
	}
	h4, h5{
		margin-bottom: 0;
		font-size: 1em !important;
		@extend %font7;
	}
	.btn{
		margin-left: 15px;
		margin-right: 15px;
	}
}


/* MODAL */
.modal-backdrop {
   background: rgba(0,41,54,.93);
   opacity: .99 !important;   
}
.close{
	position: fixed;
  top: 40px;
  right: 40px;
  width: 32px;
  height: 32px;
  background: url('../img/icon-cross.png') center top no-repeat !important;
  cursor: pointer;
  transition: .2s;
  opacity: 1;
}
.modal-dialog{
	max-width: 615px;
	.modal-header{
		border-bottom: 0px solid;
	}
	.modal-content{
		background-color: transparent;
		color: white;
		text-align: center;
	}
	.form-jointhefuture{
		.form-group{
			text-align: left;
		}
		label{
			@extend %font7;
		}
		.form-control{
			background-color: transparent;
			border: 2px solid white;
		}
	}
}

/* FORM */
.form-control{
	background: #3c5d66;
	color: white;
	border: none;
  -webkit-appearance: none;
  border-radius: 8px;  
  outline: 0!important;
  padding: 10px;
  min-height: 45px;
  &::placeholder,
  &:focus {
	  color: white;
	  opacity: 1; 
	}
	&:focus{
		background: #3c5d66;
	}
}











