.button-primary{	
	border: 1px solid white;
	color: white;
	padding: 10px 15px;
	margin: 5px;
	min-width: 170px;
	transition: all .3s;
 position: relative;   
 border: none;
 z-index: 1;
	@extend %font7;
	&:hover{
		background: #ff2155;
		color: white;
	}
	&:focus:before, 
	&:hover:before {
	  opacity: 0;
	}
	&:before {
	  position: absolute;
	  top: 0;
	  left: 0;
	  display: block;
	  opacity: 1;
	  content: '';
	  width: 100%;
	  height: 100%;
	  border-radius: 6px;
	  border: 2px solid #fff;
	  background: 0 0;
	  box-sizing: border-box;
	  transition: .4s;
	  z-index: -1;
	}
	&:focus:after, 
	&:hover:after {
	  opacity: 1;
	}
	&:after {
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   opacity: 0;
   content: '';
   width: 100%;
   height: 100%;
   border-radius: 6px;
   background: linear-gradient(45deg,#ffd163,#ff2155);
   border: none;
   color: #fff;
   transition: .4s;
   z-index: -1;
	}
	span{
		margin-right: 8px;
	}
}

.button-secondary {
  position: relative;
  display: inline-block;
  @extend %font7;	
  width: 210px;
  padding: 6.5px 0;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 0 transparent;
  background: 0 0;
  &:hover{
  	color: white !important;
  }
  .gradient-bg {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffd163, #ff2155);
    opacity: 0;
    border-radius: 3px;
    transition: .4s;
    z-index: -1;
  }
  &:before {
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    content: '';
    display: block;
    width: calc(100% - 50px);
    height: 2px;
    margin: auto;
    z-index: 2;
    background: linear-gradient(to right, #ffd163, #ff2155);
  }
  &:after {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    content: '';
    display: block;
    width: calc(100% - 50px);
    height: 2px;
    margin: auto;
    z-index: 2;
    background: linear-gradient(to right, #ffd163, #ff2155);
  }
  .gradient-border-left {
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(50% + 4px);
    height: calc(100% + 4px);
    overflow: hidden;
    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 100%;
      border-radius: 6px;
      border: 2px solid #ffd163;
    }
  }
  .gradient-border-right {
    position: absolute;
    top: -2px;
    right: -2px;
    width: calc(50% + 4px);
    height: calc(100% + 4px);
    overflow: hidden;
    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 150%;
      height: 100%;
      border-radius: 6px;
      border: 2px solid #ff2155;
    }
  }
  &:focus .gradient-bg, 
  &:hover .gradient-bg {
    opacity: 1;    
  }
}
.button-submit{	
  @extend %font7;
  background: #ff1055;
  border: none;
  border-radius: 8px;
  display: block;
  padding: 12px 10px 10px 10px;
	min-height: 45px;
  color: #fff;
  -webkit-appearance: none;
  outline: 0!important;
  text-align: center;
  transition: all .3s;
  &:hover{
  	color: white;
  	background: #dc0040;
  	opacity: .9;
  }
}

input[type="file"] {
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.button-white{
  @extend %font7;
  background: white !important;
  border-radius: 8px;
  color: rgba(0,41,54,.93);
  cursor: pointer;
  padding: 12px;
  font-size: 1em;
  display: inline-block;
  height: 45px;
  width: 100%; 
}

input[type="checkbox"] { display: none; }
input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input[type="checkbox"] + label:last-child { margin-bottom: 0; }
input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid white;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
}
input[type="checkbox"]:checked + label:before {  
  width: 14px;
  height: 14px;
  background: white;
  left: 5px;
  top: 5px;
  border-radius: 2px;
}
input[type="checkbox"]:checked + label:after{
  display: block;
  content: '';
  border: 2px solid white;
  border-radius: 5px;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 0;
}
