// @import '../fonts/stylesheet.css';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');


%font4 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
%font5 {
	color: white;
	font-family: 'Montserrat', sans-serif;
}
%font7 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}


