.jumbotron.about{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
  width: 100%;
  height: 55vh;
  border-radius:0;
	h1{
		@extend %font7;		
		color: white;
		font-size: 4em;
		order: 1;
	}
	h2{
		@extend %font4;		
		color: white;
	}	
}
.about{
		background: #eee;
	&-info{
		padding: 15px 40px;
		h3{
			@extend %font7;	
			color: black;
		}
		p{
			@extend %font4;	
			color: black;
			font-size: 1.3em;
		}
	}
	&-img{
		padding: 0;		
		&--img{
			background-size: cover;
			background-position: center;
			min-height: 400px;
		}
	}
}

.sponsor{
	&-content{
		min-height: 250px;
		transition: all .3s;
		&:nth-child(even){
			background: #eee;
		}
		&:hover{
			transition: all 1s;
			.sponsor-img{
				display: none;
			}
			.sponsor-copy{
				display: block;
    		-webkit-animation: fadeIn 1s;
    		animation: fadeIn 1s;
			}
		}
	}
	&-copy{
    display: none;    

		text-align: center;
		width: 100%;
		h4, a{
			@extend %font7;	
			color: black;
		}		
	}
}
.team-header{
	padding: 50px 50px;
  background: linear-gradient(to right,#ffd163,#ff2155);
  h2{
  	@extend %font7;	
  	color: white;
  }
}
.team{
	position: relative;
	.col{
		min-height: 350px;
		min-width: 25%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;	
		&:last-child{
			max-width: 25%;
		}
		@include media-breakpoint-up(xl){
			min-width: 20%;
			max-width: 20%;
			&:last-child{
				max-width: 20%;
			}
		}	
		@include media-breakpoint-down(lg){
			min-width: 25%;
			max-width: 25%;
			&:last-child{
				max-width: 25%;
			}
		}	
		@include media-breakpoint-down(md){
			min-width: 50%;
			&:last-child{
				max-width: 50%;
			}
		}	
		@include media-breakpoint-down(sm){
			min-width: 100%;
			&:last-child{
				max-width: 100%;
			}
		}	
		&:hover{
			transition: all .3s;
			.team-profile{
				display: block;
    		-webkit-animation: fadeIn 1s;
    		animation: fadeIn 1s;
			}
		}
	}

	&-profile{
		background: white;
		display: none;
		position: absolute;
		padding: 25px;
		height: 100%;
		width: 100%;
		h4{
			margin-bottom: 0;
		}
		.job-title{
			margin-bottom: 10px;
		}
		p{
			@extend %font4;
			color: black;	
			margin-bottom: 0;
			font-size: .85em;
			line-height: 1.22em;
		}
		.social{
			position: absolute;
			bottom: 10px;
		}
		.icon{
			font-size: 1.4em;
			margin: 10px 10px 10px 0px;
			text-decoration: none;

			&:hover{
				opacity: .5;
				color: black;
			}
		}
	}
}