.jumbotron.blog{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
  width: 100%;
  height: 58vh;
  border-radius:0;
	h1{
		@extend %font7;		
		color: white;
		font-size: 4em;
		order: 0;
	}
	h2{
		@extend %font4;		
		color: white;
		order: 0;
	}	
	.button-primary{
		order: 1;
		margin-top: 50px;
	}
}
.blog{
	&-row{
		padding: 0;
		&.red{
			background: $red;
		}
		&.grey{
			background: #eee;
			.blog-info,
			.blog-info h3,
			.blog-info p{
				color: black;
			}
		}
		&.black{
			background: $black;	
			.blog-info,
			.blog-info h3,
			.blog-info p{
				color: white;
			}		
		}
	}
	&-info{
		color: white;
		padding: 15px 40px;
		@include media-breakpoint-down(sm){
			order: 1;
		}
		h3{
			@extend %font7;	
			margin-bottom: 15px;
		}
		p{
			@extend %font4;	
			font-size: 1.3em;
		}
		&.red{
			background: $red;
			&-info{
				color: white;
			}
		}
		ul{
			margin-left: 25px;
			li{
				font-size: 1.3em;
			}
		}
	}
	&-img{
		padding: 0;		
		@include media-breakpoint-down(sm){
			order: 0;
		}
		&--img{
			background-size: cover;
			background-position: center;
			min-height: 400px;
		}
	}
}