.jumbotron.contact{
  background: url('../img/img-contacto-bg.jpg') center no-repeat;
  background-size: cover; 
  width: 100%;
  height: 60vh;
  border-radius:0;
  margin-bottom: 0;
  h1{
    @extend %font7;    
    color: white;
    font-size: 4em;
    order: 1;
  }
  h2{
    @extend %font4;   
    color: white;
  } 
}
.newsletter {
  color: white;
  padding: 100px 15px;
  background: #1a3f4a;
  h2{
    @extend %font7;   
    font-size: 2.5em;
  }
  &-form{
    width: 100%;
    margin-top: 15px;
  }
}
.industries{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  padding: 60px 0;
  height: auto;
  min-height: 480px;
  h2{
    @extend %font7;
    color: white;
    margin-bottom: 40px;
  }
  &-menu div{
    @extend %font7; 
    padding: 5px 0;
    font-size: 1.1em;
    color: rgba(255,255,255,.5);    
    transition: all .3s;
    position: relative;
    span{
      display: none;
      float: right;
      padding-right: 20px;
      padding-top: 4px;
    }
    &:hover{
      text-decoration: none;
      cursor: pointer;
      color: white;
      span{
        display: inline-block;
        float: right;
        padding-right: 20px;
        padding-top: 4px;
      }
    }
    &.active{
      color: white;
      span{
        display: inline-block;
      }
    }
  }
  &-info{
    @extend %font4; 
    font-size: 1.3em;
    padding-top: 5px;
    position: relative;   
    div{      
      position:absolute;      
      opacity:0;
      transition: all .3s linear;
      transform: translateY(20px);
    }
    .show{      
      opacity: 1;
      height: auto;
      transform: translateY(0);
      animation: fadeIn 2s;     
    }
  }
}


.clock {
  width: 140px;
  height: 140px;
  border: 2px solid rgba(26,63,74,.18);
  border-radius:50%;
  position: relative;
  margin-bottom: 20px;
  .markers-top-left:before,
  .markers-top-left:after,
  .markers-right-bottom:before,
  .markers-right-bottom:after{
    background: rgba(26,63,74,.18);
  }
  .markers-top-left:before {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 2px;
    height: 15px;
  }
  .markers-top-left:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 5px;
    bottom: 0;
    margin: auto;
    width: 15px;
    height: 2px;
  }
  .markers-right-bottom:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 2px;
    height: 15px;
  }
  .markers-right-bottom:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    margin: auto;
    width: 15px;
    height: 2px;
  }
  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); 
    border-radius: 50%;
  }
  .hand {
    width:40%;
    left: 10%;
    height:6px;
    background: #ff1055;
    position: absolute;
    top: 50%;
    transform: rotate(90deg);
    transform-origin: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.1s cubic-bezier(0.1, 2.7, 0.58, 1);
  }
  .second-hand {
    background: #666;
    left: 10%;
    height: 4px;
  }
  .hour-hand {
    width: 30%;
    left: 20%;
  }
}
.black{
  .clock{
    border: 2px solid rgba(255,255,255,.18);
    .markers-top-left:before,
    .markers-top-left:after,
    .markers-right-bottom:before,
    .markers-right-bottom:after{
      background: rgba(255,255,255,.18);
    }
  }
}

