.jumbotron, 
.jumbotron.home{
	background: url('https://emurgo.io/wp-content/uploads/2018/06/Home-Banner-SVG-1.svg') center 0px;
	background-size: cover;
	display: flex;
	border-radius: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;  
	h1{
		@extend %font7;		
		color: white;
		font-size: 3.5em;
		order: 1;
		margin-bottom: 3%;
		width: 100%;
		max-width: 800px;
		@include media-breakpoint-down(lg){
			max-width: 100%;
		}
		@include media-breakpoint-down(sm){
			font-size: 2.2em;
		}
	}
	.btns{
		order: 2;
		align-self: flex-end;		
		width: 100%;
	}
}

.title-box{
  margin: auto;
  max-width: 780px;
	width: 100%;
	padding: 80px 20px;
	@include media-breakpoint-down(md){
		padding: 15px;
	}
	h1{
		@extend %font7;
		color: $black;		
	}
	h2{
		@extend %font7;	
		color: $black;
		font-size: 1.9em;
    line-height: 1.4em;	
	}
	h3{
		@extend %font7;	
		color: $black;
		font-size: 1.9em;
		line-height: 1.4em;	
	}
	h4{
		@extend %font4;	
		color: $black;
		font-size: 1.9em;
		line-height: 1.4em;	
	}
}

.gallery-articles{
	article{		
		background-size: contain;
		color: white;
		text-align: center;
		min-height: 400px;
		padding: 50px;
		transition: all .3s;		
		overflow: hidden;			
		&:hover > .box-img{
			transform: scale(1.1); 
		}
		h3{
			@extend %font7;	
			font-size: 2.5em;
			z-index: 1;
		}
		.btn{
			margin-top: 50px;
		}
		.box-img{
			background-size: cover;
			background-position: center;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 0;
			transition: .4s;
		}
	}	
}
.article-yoroi{
	padding-bottom: 50px;
	padding-left: 0;
	padding-right: 0;
	&:nth-child(even){
		background: #f3f3f3;
	}
	.figure-img{
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 300px;
		
		transition: all .3s;
		&:hover{
			opacity: .9;
		}
	}
	.info{
		position: relative;
		padding-left: 15px;
		padding-right: 15px;
	}
	.info-tag{
		@extend %font7;	
		color: white;
		display: inline-block;
		padding: 0 8px;
		position: absolute;
		top: -25px;
		&.announcements{
			background: #ff1055;
		}
		&.blog{
			background: #333;
		}
	}
	.info-title{
		font-size: 1.4em;
		color: #002936;
		margin: 15px 0;
		@extend %font7;	
	}
}
.form-jointhefuture{
	a{
		height: 34px;
		margin: 0;
	}
	.form-second-step{
		display: none;
	}
}
