.jumbotron.landing{
  background: $black;
  width: 100%;
  height: initial;
  min-height: 70vh;
  border-radius:0;
  margin-bottom: 0;
  text-align: left;
  position: relative;
  p{
    color: white;
    font-size: 1.4em;
  }
  h1{
    @extend %font7;    
    color: white;
    font-size: 3.4em;
    order: 1;
    padding: 0;
    max-width: initial;
  }
  h2{
    @extend %font7;   
    color: #aaa; 
    font-style: italic;
  } 
  .info-tag{
    @extend %font5; 
    color: white;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    
    bottom: -10px;
    &.announcements{
      background: #ff1055;
    }
    &.blog{
      background: black;      
    }
  }
}
.landing-container{
  padding-top: 50px;
  font-size: 1.2em;
  @extend %font4;   
  color: black;
  p{
    margin-top: 1rem;
  }
}