.jumbotron.about{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
  width: 100%;
  height: 55vh;
  border-radius:0;
	h1{
		@extend %font7;		
		color: white;
		font-size: 4em;
		order: 1;
	}
	h2{
		@extend %font4;		
		color: white;
	}	
}
.article-yoroi{
	width: 33.3%;
	h2{
		@extend %font7;	
		color: #bbb;
		font-style: italic; 
		margin: 20px 0;
	}
	.info-title{
		@extend %font7;			
	}
}


.tab-filter{
	margin-bottom: 30px;
	ul li{
		@extend %font7;	
		display: inline-block;
		color: black;
		padding: 10px;
	}
}
.tile { 
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
	&:hover { 
		color: initial;
		text-decoration: none;
		opacity: .7;
	}
}
.scale-anm {
  transform: scale(1);
}


